h1, h2 {
  color: blue;
}

.button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  white-space: nowrap;
  width: 150px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}